<textarea name="textarea" rows="5" cols="50" (blur)="onBlur()" (focus)="onFocus()"
            id="editor" [(ngModel)]="textHtml" (ngModelChange)="onChange($event)" style="width:100%">Write something here</textarea>
<br>
<button type="button" class="btn btn-primary" 
        (click) ="toggleEmojiPicker()">😀</button>
<span class="characters-count" [ngClass]="{'limit-pass': charactersLimitPass}">{{ contentLength }} / {{ limit }}</span>
<button [disabled]="charactersLimitPass || contentLength == 0" class="send btn btn-primary">Enviar</button>
        


<emoji-mart class="emoji-mart" set="{{set}}" *ngIf="showEmojiPicker" [style]="{ position: 'absolute', top: '100px', left: '60px', 'z-index': 3000 }" class="emoji-mart" set="{{set}}" (emojiSelect)="addEmoji($event)" title="Pick your emoji…"></emoji-mart>

