
.editor {
    background-color: white;
}

.characters-count {
    margin-top: 4px;
    margin-left: 10px;
}

.send {
    float: right;
}

.send:disabled {
    cursor: auto
}

.limit-pass {
    background: crimson;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
}