<div class="row">
  <div class="col-lg-8" style="background-color: #fff; border-color: rgba(0,0,0,.125);">
    <div>
      <app-editor (onChangeEditor)="onChange($event)"></app-editor>
    </div>
    <div class="separate"></div>
    <div class="posts">
      <app-post [when]="'2015/02/27 10:00'"></app-post>
      <app-post [when]="'2019/06/27 10:00'"></app-post>
      <app-post [when]="'2020/01/07 10:00'"></app-post>
      <app-post [when]="'1986-01-10T00:00:00.000+00:00'"></app-post>
    </div>
  </div>
  <div class="col-lg-4" >
    <app-search-input></app-search-input>
    <div class="card">
      <div class="card-header">A quien seguir</div>
      <li class="list-group-item d-flex align-items-center">
        
      </li>
    </div>
    <br/>
    <div class="card">
      <div class="card-header">Temás más populares</div>
      <li class="list-group-item d-flex align-items-center">
        
      </li>
    </div>
  </div>
</div>
