<div class="card mb-3 post-item" style="max-width: 100%">
    <div class="row no-gutters">
        <div class="col-md-1">
            <app-profile-img [size]="'small'"></app-profile-img>
        </div>
        <div class="col-md-11">
            <div class="card-body">
                <div class="user-data">
                    <a href="/athletes/1675787/follows?type=following">
                        <span class="user-name-last card-title"><b>Anartz Mugika</b></span>
                    </a>
                    <a href="/athletes/1675787/follows?type=following">
                        <span class="username text-muted">@mugan86</span>
                    </a>
                    - <app-time-ago [when]="when"></app-time-ago>
                </div>
                <p class="card-text" [innerHTML]="message"></p>
                <p class="card-text" *ngIf="tags != ''" [innerHTML]="tags"></p>
                
                <div class="post-actions">
                    <div>
                        <a href="">
                            <i class="far fa-comment"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="fas fa-retweet"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="far fa-heart"></i>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <i class="far fa-bookmark"></i>
                        </a>
                    </div> 
                </div>
        </div>
    </div>
    
    
  </div>
