.post-item {
    border-radius: .40rem;
}
.post-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: -10px;
}

.post-actions a {
    color: rgb(101, 119, 134);
    padding: 8px;
}

.post-actions a:hover {
    background-color: #e1dcdc;
    border-radius: 6px;
}

.user-data {
    margin-top: -10px;
    margin-bottom: 15px;
}
.user-name-last {
    margin: 0px 10px 0px 0px;
    font-size: larger;

}