/*  Menú principal */
.list-group-item:hover {
    background:var(--primary-color);
    cursor: pointer;
}

.list-group-item.active {
    background: rgb(255, 255, 255) !important;
    cursor: pointer;
    border-color: var(--border-color);
    border-left:6px solid var(--primary-color);
    border-right: 1px solid var(--border-color);
    color: #212529
}

.list-group-item:active {
    background: rgb(255, 255, 255);
    cursor: pointer;
    border-left: 6px solid var(--primary-color);
}

.item-text {
    margin-left: 30px;
    width: 90%;
}