<ul class="list-group">
  <li
    *ngFor="let item of verticalMenuItems"
    [routerLink]="item.route"
    routerLinkActive="active"
    class="list-group-item d-flex align-items-center"
  >
    <i class="{{ item.icon }}"></i>
    <div class="item-text">{{ item.title }}</div>
    <span *ngIf="item.badge" class="badge badge-primary badge-pill">2</span>
  </li>
  <li class="list-group-item d-flex align-items-center" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    <div class="item-text">Cerrar sesión</div>
  </li>
</ul>
