/* Perfil del usuario*/
.card {
    margin: 10px 0px 10px 0px;
}

.card-subtitle {
    margin-top: -10px;
    font-size: small;
    color: darkgray;
}

#stats {
    margin-top: 10px;
    margin-bottom: 20px;
}

.stat-subtext {
    font-size: 12px;
}

.plus-info {
    margin: 0px;
    font-size: 14px;
    color:#737373;
}

.item-text {
    margin-left: 10px !important;
}

app-home {
    width: 100%
}