<div class="row">
    <div class="col-lg-3">
        <div class="card">
          <app-profile-img [size]="'medium'"></app-profile-img>
          <div class="card-body">
            <h5 class="card-title">Anartz Mugika Ledo</h5>
            <h5 class="text-muted card-subtitle">@mugan86</h5>
            <div class="row text-center" id="stats">
              <div class="col-lg-4">
                <a class="stat" href="/athletes/1675787/follows?type=following">
                  <div class="stat-subtext">Siguiendo</div>
                  <b class="stat-text">1</b>
                </a>
              </div>
              <div class="col-lg-4">
                <a class="stat" href="/athletes/1675787/follows?type=following">
                  <div class="stat-subtext">Seguidores</div>
                  <b class="stat-text">100.4k</b>
                </a>
              </div>
              <div class="col-lg-4">
                <a class="stat" href="/athletes/1675787/follows?type=following">
                  <div class="stat-subtext">Posts</div>
                  <b class="stat-text">4050</b>
                </a>
              </div>
            </div>
            <p class="card-text"> 
              Web / Mobile Developer / Online Instructor ⌨️ - Kirola orokorrean baina korrika 
              🏃 🏃 eta mendia  ⛰️ ⛰️ maite ditut  😁😁.
            </p>
            <p class="card-text plus-info"><i class="fas fa-map-marker-alt"></i><span class="item-text">Soraluze (Gipuzkoa) - EH</span></p>
            <p class="card-text plus-info"><i class="fas fa-link"></i><span class="item-text"><a href="https://anartz-mugika.com" target="_blank">https://anartz-mugika.com</a></span></p>
            <p class="card-text plus-info"><i class="fas fa-plug"></i><span class="item-text">2019-01-10</span></p>
            <p class="card-text plus-info"><i class="far fa-calendar-alt"></i><span class="item-text">1986-01-10</span></p>            
          </div>
        </div>
        <app-vertical-menu [verticalMenuItems]="verticalMenuItems"></app-vertical-menu>
    </div>
    <div class="col-lg">
        <router-outlet></router-outlet>
    </div>
</div>
