.profile-img-medium {
    border-radius: 200px;
    width: 30%;
    margin-top: -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-img-small {
    width: 80%;
    border-radius: 30px;
    display: block;
    margin-top: 8px;
    margin-left: 12px;
    margin-right: auto;
}