<div class="row">
    <div class="col-lg-8" style="background-color: green;">
        <p>likes works!</p>
    </div>
    <div class="col-lg-4" style="background-color: blue;">
        djdjdjd
    </div>
</div>
