/* You can add global styles to this file, and also import other style files */
@import './../node_modules/@ctrl/ngx-emoji-mart/picker.css';
:root {
    --main-bg-color: #ddeae6;
    --primary-color: steelblue;
    --primary-hover-color: rgb(48, 95, 134);
    --border-color: rgba(0,0,0,.125);
}
body {
    background-color: white
}
.container {
    margin-top: 30px;
    max-width: 90vw;
}

a{
    color: var(--primary-color);
}

.badge-primary, .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover-color);
}

@media (min-width: 1000px) {
    .container {
        max-width: 70%;
    }
}